.Address {
  color: #fff;
  position: relative;
  left: 6rem;
  top: 7.5rem;
}
  
.Time p {
  position: relative;
  top: -7rem;
  left: 13rem;
}
  
.Contact {
  position: relative;
  width: 100%;
      /* min-height: 125vh; */
  min-height: 145vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -34rem; /*Took the white space from under contact and over footer*/
}
  
.colorBoxTwo {
  position: relative;
  width: 100%;
  min-height: 57vh;
  background-attachment: fixed;
  background-color: #8CAE97;
  /* top: 6rem; */
  top: 10rem;
} 
  
.Title {
  position: relative;
  left: 49rem;
}
  
.Title h1{
  padding-bottom: 2rem;
  position: relative;
  top: -14rem;
  color: #fff;
}
    
.comment-form {
  position: relative;
  top: -14rem;
}
   
.clearfix {
  position: relative;
  top: 4rem;
  left: -24.8rem;
}
    
.row {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 43rem;
}
  
#Email {
  position: relative;
  left: -0.7rem;
}
  
.post {
  padding: 0 1.5% /* matches the column and -margin values */   
}

.comment-form .form-control {
  border: 0px;
  background: #fff;
  min-height: 30px; /* make the .form-control taller */
}
  
.comment-form > .row {
  margin: 0 -1.5%; /* negative margin on row for new, fluid gutter */
}

.comment-form [class*="col-"] {
  padding: 0 1.5% /* new fluid gutter to tighten up the space between col-X-6 */
}
  
.btn {
  position: absolute;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #078249;
  height: 40px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  left: 8.6rem;
  top: 9rem;
}

.Address {
  color: #fff;
  position: relative;
  left: 6rem;
  top: 7.5rem;
}

.Time p {
  position: relative;
  top: -7rem;
  left: 13rem;
}

.Contact {
    position: relative;
    width: 100%;
    /* min-height: 125vh; */
    min-height: 145vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -34rem; /*Took the white space from under contact and over footer*/
}

.colorBoxTwo {
  position: relative;
  width: 100%;
  min-height: 57vh;
  background-attachment: fixed;
  background-color: #8CAE97;
    /* top: 6rem; */
  top: 10rem;
} 

.Title {
  position: relative;
  left: 49rem;
}

.Title h1{
  padding-bottom: 2rem;
  position: relative;
  top: -14rem;
  color: #fff;
 }
  
.comment-form {
  position: relative;
  top: -14rem;
 }

.clearfix {
  position: relative;
  top: 4rem;
  left: -24.8rem;
}
  
.row {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 43rem;
}

#Email {
  position: relative;
  left: -0.7rem;
 }

.post {
  padding: 0 1.5% /* matches the column and -margin values */
  
}
.comment-form .form-control {
  border: 0px;
  background: #fff;
  min-height: 30px; /* make the .form-control taller */
  outline: none; /*Removes black lining around the textbox*/
}

.comment-form > .row {
  margin: 0 -1.5%; /* negative margin on row for new, fluid gutter */
}
.comment-form [class*="col-"] {
      padding: 0 1.5% /* new fluid gutter to tighten up the space between col-X-6 */
}

.btn {
  position: absolute;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #032A18;
  height: 40px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  left: 8.6rem;
  top: 9rem;
}

#buttonContact:hover {
    background-color: #06713f;
}

.btn h5 {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 1.7rem;
  top: -1.5rem;
}

.btn h5 {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 1.7rem;
  top: -1.5rem;
}