.Footer {
  background-color: black;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  bottom: -34rem;
}

.title h5 {
  color: #fff;
}

 


