.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.Logo {
  width: 35%;
  position: relative;
  left: 1rem;
  top: 0.1rem;
}

.rightSide .ul {
  display: flex;
  margin: 25px;
}

li  {
  margin: 0 0.4rem;
  list-style-type: none;  /*Removes listed dots in front/side of tab names.*/
}

a {
  text-decoration: none; /*Removes lines underneath tab names.*/
}

a:hover {
  color: rgb(23, 46, 253);
} 

 li a::after {
  content: '';
  background-color: blue;
  height: 2px;
  width: 0%;
  display: block;
  transition: all 0.2s;
  pointer-events: none;
}

li a:hover:after {
  width: 100%;
  transition: width 0.3s linear;
}
